.idea/
.DS_Store
.env

# ** means anywhere
**/__pycache__/ 

# experiement scripts
/experiments

# postgreSQL runtime data / live db files
/postgres_data/db/

.$thi_miniproject_database_logical_schema.png.bkp